/banana-platform/.idea
/banana-platform/*.iml
/banana-platform-common/*.iml
/banana-platform-config/*.iml
/banana-platform-system/*.iml
/banana-platform-system/src/test
/banana-platform-config/src/test
/banana-platform-common/src/test
/banana-platform-datasources/*.iml
/banana-platform-datasources/src/test
.project
.settings/
.classpath
*/.gitignore
.factorypath

/banana-platform-system/target
/banana-platform-redis/target
/banana-platform-redis/*.iml
/banana-platform-datasources/target
/banana-platform-common/target
/banana-platform-log/target
/banana-platform-log/*.iml
/banana-platform-api/*.iml
/banana-platform-mongo/*.iml
/banana-platform-schedule/*.iml
/banana-platform-author/*.iml
