<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!-- 配置生成器 -->
<generatorConfiguration>

    <!--<properties resource="" url="" />-->

    <classPathEntry location="D:/javaTools/MySQL/mysql-connector-java-5.1.39.jar" />

    <context id="MBG" targetRuntime="MyBatis3" defaultModelType="conditional">
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>

        <commentGenerator>

            <property name="suppressAllComments" value="true" />
            <property name="suppressDate" value="false" />
            <property name="autoDelimitKeywords" value="false"/>
            <property name="javaFileEncoding" value="UTF-8"/>
            <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
            <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
            <property name="beginningDelimiter" value="`"/>
            <property name="endingDelimiter" value="`"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/banana-platform?characterEncoding=utf8"
                        userId="root" password="root" />

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetProject="./src/main/java" targetPackage="com.burgess.banana.system.entity">
            <property name="constructorBased" value="false"/>
            <property name="enableSubPackages" value="false"/>
            <property name="immutable" value="false"/>
            <property name="trimStrings" value="true"/>

        </javaModelGenerator>

        <sqlMapGenerator targetProject="./src/main/resources" targetPackage="mapper">
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>

        <javaClientGenerator targetProject="./src/main/java" targetPackage="com.burgess.banana.system.mapper" type="XMLMAPPER">
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>

        <table schema="banana-platform" tableName="sys_user" domainObjectName="BananaSysUser"
               enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="useActualColumnNames" value="false"/>
        </table>
        <table schema="banana-platform" tableName="sys_captcha" domainObjectName="BananaSysCaptcha"
               enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="useActualColumnNames" value="false"/>
        </table>
        <table schema="banana-platform" tableName="sys_user_role" domainObjectName="BananaSysUserRole"
               enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="useActualColumnNames" value="false"/>
        </table>
        <table schema="banana-platform" tableName="sys_user_token" domainObjectName="BananaSysUserToken"
               enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="useActualColumnNames" value="false"/>
        </table>
        <table schema="banana-platform" tableName="sys_role" domainObjectName="BananaSysRole"
               enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="useActualColumnNames" value="false"/>
        </table>
        <table schema="banana-platform" tableName="sys_role_menu" domainObjectName="BananaSysRoleMenu"
               enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="useActualColumnNames" value="false"/>
        </table>
        <table schema="banana-platform" tableName="sys_oss" domainObjectName="BananaSysOss"
               enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="useActualColumnNames" value="false"/>
        </table>
        <table schema="banana-platform" tableName="sys_menu" domainObjectName="BananaSysMenu"
               enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="useActualColumnNames" value="false"/>
        </table>
        <table schema="banana-platform" tableName="sys_log" domainObjectName="BananaSysLog"
               enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="useActualColumnNames" value="false"/>
        </table>
        <table schema="banana-platform" tableName="sys_config" domainObjectName="BananaSysConfig"
               enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="useActualColumnNames" value="false"/>
        </table>
    </context>
</generatorConfiguration>